@tailwind preflight;
@tailwind components;
@tailwind utilities;
@tailwind screens;

.page-wrapper {
    @apply min-h-screen;
}

.page-content {
    @apply flex flex-col w-full fixed pin-l pin-y;
}

.header {
    @apply flex items-center justify-between flex-wrap p-10 text-center;
}

.header-title {
    @apply text-grey-lightest text-5xl text-center items-center;
}

.portheader {
    @apply bg-white flex text-center justify-around px-4 py-2 bg-marine-green p-6;
}



.h1-link {
    @apply text-moss-tide no-underline font-sans text-center;
}

.h1-link:hover {
    @apply text-marine-green text-center;
}

.li-navlink {
    @apply text-sand-surge no-underline;
}

.li-navlink:hover {
    @apply text-grey;
}



.footer-wrapper {
    @apply border-t px-8 py-4;
}

.footer-content {
    @apply flex justify-center text-grey;
}

.content-wrapper {
    @apply px-4 pt-4 flex-1 overflow-y-scroll;
}

.content-text {
    @apply text-grey-dark;
}